# *************************************************************************************************
#  This file is part of Connect X.
#
#  Connect X is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#  Connect X is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with Connect X. If not, see <https://www.gnu.org/licenses/>.
#
# *************************************************************************************************
# *************************************************************************************************
# @file clangd
# @date 2024
#
# *************************************************************************************************

# ------------------------------------------------------------------------------------------------
# I use the following GCC only compiler options (mostly for code coverage using gcov):
#
#  -fprofile-arcs
#  -ftest-coverage
#  -fprofile-abs-path
#
# These flags are not useful to the LSP. Since they are GCC specific, every file parsed
# by it displays errors. This is annoying, to I remove them from analysis.
#
# ------------------------------------------------------------------------------------------------
CompileFlags:
    Remove: [-fprofile-arcs, -ftest-coverage, -fprofile-abs-path]
