# =================================================================================================
#   This file is part of Connect X.
#
#   Connect X is free software: you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   Connect X is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
#   along with Connect X. If not, see <https://www.gnu.org/licenses/>.
#
# =================================================================================================
# =================================================================================================
# @file .gitignore
# @date 2019
#
# Initially created with the help of gitignore.io.
#
# =================================================================================================

# -------------------------------------------------------------------------------------------------
# C++ 
# -------------------------------------------------------------------------------------------------

## Prerequisites
*.d

## Compiled Object files
*.slo
*.lo
*.o
*.obj

## Precompiled Headers
*.gch
*.pch

## Compiled Dynamic libraries
*.so
*.dylib
*.dll

## Fortran module files
*.mod
*.smod

## Compiled Static libraries
*.lai
*.la
*.a
*.lib

## Executables
*.exe
*.out
*.app


# -------------------------------------------------------------------------------------------------
# Vim
# -------------------------------------------------------------------------------------------------
Session.vim
.vimrc
*.swp


# -------------------------------------------------------------------------------------------------
# Ctags
# -------------------------------------------------------------------------------------------------
tags


# -------------------------------------------------------------------------------------------------
# CMake
# -------------------------------------------------------------------------------------------------

## Build directory
build/release
build/debug
build/distribute

## Compilation information (useful for LSP integration)
compile_commands.json


# -------------------------------------------------------------------------------------------------
# Valgrind
# -------------------------------------------------------------------------------------------------

## Log files
valgrind-out.txt


# -------------------------------------------------------------------------------------------------
# Clangd
# -------------------------------------------------------------------------------------------------
.cache
